<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Senacamp - Inscrição</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <!-- Estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Scripts (jQuery não pode ser o slim que vem do Boostrap) -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link href="css/caroussel.css" rel="stylesheet">
</head>
<body>
<div th:include="/commons/menu-menor.html"></div>
<div class="container mt-5">
    <h1>Ficha de Inscrição</h1>
    <form class="mt-5" action="/salvar-participante" method="get" th:object="${participante}">
        <input type="text" class="form-control mb-3" placeholder="Nome do participante" th:field="*{nome}"/>
        <input type="text" class="form-control mb-3" placeholder="Time de preferência" th:field="*{timePreferencia}"/>
        <input type="text" class="form-control mb-3" placeholder="Grito de guerra | Mensagem" th:field="*{mensagem}"/>
        <input type="hidden" name="idCamp" th:field="${campeonato.id}">
        <input type="submit" value="Salvar" class="btn btn-secondary mb-2"/>
    </form>
</div>
</body>
</html>