<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Senacamp</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <!-- Estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Scripts (jQuery não pode ser o slim que vem do Boostrap) -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link href="css/caroussel.css" rel="stylesheet">
</head>
<body>
<div th:include="/commons/menu-bolado.html"></div>

<div class="container">
    <main role="main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="img/lol.png" alt="First slide">
                </div>
                    <div class="carousel-item">
                        <img class="second-slide" src="img/fifa.png" alt="Second slide">
                    </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-6 ">
                    <img class="rounded" src="img/fifa-logo.png" alt="Generic placeholder image" width="280"
                         height="140">
                    <h2>Fifa</h2>
                    <p>FIFA, também conhecido como FIFA Football ou FIFA Soccer, é uma série de videojogos de futebol,
                        lançados anualmente pela Electronic Arts sobre a chancela EA Sports</p>
                    <p><a class="btn btn-secondary" href="/campeonatos" role="button">Participe!</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-6">
                    <img class="rounded" src="img/lol-logo.png" alt="Generic placeholder image" width="280"
                         height="140">
                    <h2>League of Legends</h2>
                    <p>League of Legends é um jogo eletrônico do gênero multiplayer online battle arena desenvolvido e
                        publicado pela Riot Games. Foi lançado em outubro de 2009 para Microsoft Windows e em março de
                        2013 para macOS.</p>
                    <p><a class="btn btn-secondary" href="/campeonatos" role="button">Participe!</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette" id="sobre">
                <div class="col-md-12">
                    <img class="featurette-image img-fluid mx-auto" src="img/cartaz.png"
                         alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette" id="quem-somos">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Sim, alunos! <span
                            class="text-muted">Apaixonados por tecnologia</span></h2>
                    <p class="lead">Somos a turma 2022 e turma 2021 do Técnico em Informática, na cidade de Araraquara!
                        E este campeonato será realizado no nosso Projeto Integrador.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="img/quem-somos.png">
                </div>
            </div>

            <hr class="featurette-divider">

        </div>


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Início da página</a></p>
            <p>&copy; 2022 Senac &middot; TI 2021 &middot; TI 2022</p>
        </footer>
    </main>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>